@import "../../utils/mixins/mixin.scss";

.languages-drop-down {
    cursor: pointer;
    font-size: 1.6rem;
    height: 15vh;
    overflow-y: scroll;
    @include responsive(mini-tablet) {
        font-size: 1.2rem;
    }
}

.language-chooser {
    font-size: 1.6rem;
    @include responsive(mini-tablet) {
        font-size: 1.2rem;
    }
}

.selector-label {
    text-align: center;
}

.selector-container {
    display: flex;
    gap: 1rem;
    @include responsive(mobile) {
        flex-direction: column;
        gap: 0;
    }
}
