html {
    font-family: "Poppins", sans-serif;
    color: #333;
}

html *::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
    border-radius: 4px;
}

html *::-webkit-scrollbar-thumb {
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    border-radius: 4px;
}
