.home-page-container {
    height: 90vh;
    width: 100%;
    font-family: "Poppins", sans-serif;

    .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 2rem;
        padding: 0 2rem;
        margin-top: 1rem;
    }
}
