.home-page-container {
    height: 90vh;
    width: 100%;
    font-family: "Poppins", sans-serif;

    .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
}
