@import "../../utils/mixins/mixin.scss";

.page {
    // padding: 20px;
    background-color: hsl(35, 55, 98);
    color: hsl(35, 35, 35);
    border-radius: 4px;

    font-size: 2rem;

    overflow: hidden;
    overflow-y: scroll;
    page *::-webkit-scrollbar {
        width: 0;
    }

    .page-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        .page-header {
            height: 30px;
            font-size: 100%;
            text-transform: uppercase;
            text-align: center;
        }

        .page-image {
            height: 100%;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .page-text {
            height: 100%;
            flex-grow: 1;
            font-size: 80%;
            text-align: justify;
            line-height: 2.5rem;
            padding: 0 2rem 1rem 2rem;
            margin-top: 10px;
            white-space: pre-wrap;
            padding-top: 10px;
            display: flex;
            justify-content: flex-start;
            // padding-bottom: 20px;
            box-sizing: border-box;
            border-top: solid 1px hsl(35, 55, 90);
        }

        .opening-page {
            font-size: 4rem;
            line-height: 5rem;
            @include responsive(mini-tablet) {
                padding: 0.6rem 2.4rem;
                font-size: 1.3rem;
            }
        }

        .page-number {
            height: 30px;
            border-top: solid 1px hsl(35, 55, 90);
            font-size: 80%;
            color: hsl(35, 20, 50);
            padding: 1rem;
        }
    }

    &.--left {
        // for left page (property will be added automatically)
        border-right: 0;
        box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
    }

    &.--right {
        // for right page (property will be added automatically)
        border-left: 0;
        box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

        .page-footer {
            text-align: right;
        }
    }

    &.hard {
        // for hard page
        background-color: hsl(35, 50, 90);
        border: solid 1px hsl(35, 20, 50);
    }

    &.page-cover {
        background-color: hsl(35, 45, 80);
        color: hsl(35, 35, 35);
        // color: #f6f6f6;
        border: solid 1px hsl(35, 20, 50);
        // background-image: url("../../assets/img/background/book-bg.jpg") !important;
        // opacity: 0.5;
        border-radius: 4px;

        h2 {
            text-align: center;
            padding-top: 30%;
            font-size: 210%;
        }

        &.page-cover-top {
            box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
                -2px 0 5px 2px rgba(0, 0, 0, 0.4);
        }

        &.page-cover-bottom {
            box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
                10px 0 8px 0px rgba(0, 0, 0, 0.4);
        }
    }
}
