.mainContainer {
    /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    border-radius: 5%;
    padding: 1rem 1rem;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f6f6f68a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
}

form > * {
    margin: 0;
    padding: 0;
    align-self: center;
}

ul li {
    list-style: none;
}

.comments {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    border-radius: 3%;
    letter-spacing: 1.5px;
    height: 3rem;
    width: 30rem;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 2px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
    user-select: all;
}

textarea {
    height: 20rem;
    width: 30rem;
}

.submit-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-btn {
    align-self: center;
}

@media (max-width: 790px) {
    .container {
        width: 80%;
        height: 80%;
    }
}
