$media_queries: (
    "small-screen": (
        max-width: 1100px,
    ),
    "tablet": (
        max-width: 850px,
    ),
    "mini-tablet": (
        max-width: 790px,
    ),
    "mobile": (
        max-width: 450px,
    ),
    "big-height-screen": (
        max-height: 1080px,
    ),
    "big-width-screen": (
        max-width: 1920px,
    ),
    "galaxy-fold": (
        max-width: 300px,
    ),
);

@mixin responsive($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}
